@model visa.Models.ProcessingForm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProcessingForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfferLetterFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferLetterFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppliedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppliedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecivedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecivedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessingFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessingFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessAlertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessAlertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollegeFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollegeFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollegeAlertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollegeAlertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GICFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GICFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GICAlertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GICAlertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmedicalFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmedicalFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmbassyFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmbassyFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmbassyAlertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmbassyAlertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Studentid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studentid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
