@model visa.Models.Assigndata
@using visa.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    dbcontext db = new dbcontext();
    var studentname = db.PreForms.ToList();
    var country = db.Countries.ToList();
}
<h2>Create</h2>


@using (Html.BeginForm("Create", "Assigndatas", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Assigndata</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="stateDropDown" class="form-control" name="Student">
                    <option>Select Student</option>
                    @foreach (var item in studentname)
                    {
                        <text>

                            <option value="@item.id">@item.StudentName</option>
                        </text>
                    }
                </select>
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.Serialid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Serialid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Serialid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Studentid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Studentid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Studentid, "", new { @class = "text-danger" })
            </div>
        </div>*@

        

        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="countryid" onchange="getCityList()" name="country" class="form-control">
                    <option>Select state</option>
                    @foreach (var item in country)
                    {
                        <text>

                            <option value="@item.id">@item.CountryName</option>
                        </text>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.College, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="cityDropDown" name="collegeid" class="form-control" onchange="Courses()" >
                    <option>Select College</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Course, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="ddlcourse" name="courseid" class="form-control">
                    <option>Select Course</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"
        integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
        crossorigin="anonymous"></script>
<script>
    function getCityList() {
        debugger;
        var stateId = $("#countryid").val();

        $.ajax
        ({
            url: '/Assigndatas/GetCityList',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({
                stateId: +stateId
            }),
            success: function (result) {
                debugger;
                $("#cityDropDown").html("");
                $("#cityDropDown").append($('<option>Select College</option>'));
                $.each($.parseJSON(result), function (i, city) {
                    debugger;
                    var a = city.id;
                    $("#cityDropDown").append($('<option></option>').val(city.id).html(city.CollegeName))
                })

            },
            error: function () {
                alert("Whooaaa! Something went wrong..")
            },
        });
    }
</script>
<script>
    function Courses() {
        debugger;
        var stateId = $("#cityDropDown").val();

        $.ajax
        ({
            url: '/Assigndatas/Course',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({
                stateId: +stateId
            }),
            success: function (result) {
                debugger;
                $("#ddlcourse").html("");
                $("#ddlcourse").append($('<option>Select Course</option>'));
                $.each($.parseJSON(result), function (i, city) {
                    debugger;
                    var a = city.id;
                    $("#ddlcourse").append($('<option></option>').val(city.id).html(city.CourseName))
                })

            },
            error: function () {
                alert("Whooaaa! Something went wrong..")
            },
        });
    }
</script>